.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* Text Transforms */
.text-uppercase {
    text-transform: uppercase;
}

.text-uppercase {
    text-transform: capitalize;
}

/* Displays */
.hidden {
    display: none;
}

.block {
    display: block;
}

.inlineflex {
    display: inline-flex;
}

/* Justify */
.justify-between {
    justify-content: space-between;
}

.justify-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

/* Aligns */
.align-center {
    align-items: center;
}